---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Full Stack",
    company: "Freelance",
    description:
      "Desarrollo aplicaciones web y móviles para diferentes clientes. Me especializo en el desarrollo de aplicaciones web con React, Node.js y Laravel.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Agosto 2022 - Agosto 2024",
    title: "Desarollador Web Full Stack",
    company: "Mentor360",
    description:
      "Trabajé como desarrollador web en Mentor360, Desarrollé páginas web para diferentes clientes como: Federación Nacional de Cafeteros colaborando en el desarrollo del Woocommerce comprocafedecolombia.com y diferentes marcas reconocidas como Electrolux, Schick, Gecolsa, entre otras.",
    link: "https://mentor360.co",
  },
  {
    date: "Enero 2020 -Agosto 2022",
    title: "Desarollador Web",
    company: "IngenioSoft",
    description:
      "Trabajé como desarrollador web en IngenioSoft, Desarrollé templates y plugins con Wordpress para diferentes clientes y consolide mis habilidades en el desarrollo de software.",
    link: "https://ingeniosoft.co/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
