---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Full Stack",
    company: "Freelance",
    description:
      "Lidero el desarrollo de aplicaciones web y móviles personalizadas. Me especializo en la arquitectura y desarrollo de soluciones robustas utilizando React, Node.js y Laravel.",    
  },
  {
    date: "Agosto 2022 - Agosto 2024",
    title: "Desarollador Web Full Stack",
    company: "Mentor360",
    description:
      "Desarrollo integral de sitios web para clientes de alto perfil como la Federación Nacional de Cafeteros, colaborando en la implementación de su plataforma de WooCommerce. Optimicé el rendimiento y la funcionalidad para marcas reconocidas, incluyendo Electrolux y Schick.",
    link: "https://mentor360.co",
  },
  {
    date: "Enero 2020 -Agosto 2022",
    title: "Desarollador Web",
    company: "IngenioSoft",
    description:
      "Desarrollo de templates y plugins personalizados con WordPress para diversos clientes. En este rol, consolidé mis habilidades de desarrollo de software y participé en la entrega de soluciones de alto rendimiento.",
    link: "https://ingeniosoft.co/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
