<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-700 transition bg-white/80 border border-gray-200 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-orange-500/80 text-md hover:bg-gray-100 hover:border-gray-300 hover:text-gray-900 dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-gray-200"
>
  <slot />
</a>
